:root {
    --baby_powder: #fffbf6;
    --pumpkin: #ff7c25;
    --mustard: #ffd651;
    --uranian_blue: #b8ddff;
    --polynesian_blue: #005092;
    --eerie_black: #222426;
}

html {
    background-color: var(--baby_powder);
    font-family: 'Lucida Sans', sans-serif;
    padding: 2rem;
    line-height: 1.6;
    
}

#head {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.head {
    height: 20vh;
}

#navbar {
    display: flex;
    align-items: center;
}

.a {
    height: 8vh;
    padding: 15px;
}

.nav_content {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.nav_content a {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 18px;
    color: var(--eerie_black);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-size: 40px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center ;
    padding: 10px;
}

.gallery a {
    margin: 1rem;
}

#world_building {
    height: 75vh;
}

#rainy_day {
    height: 100vh;
}

#asset_sheet {
    height: 100vh;
}

#backgrounds {
    height: 150vh;
}

#characters {
    height: 150vh;
}

.chara {
    height: 50vh;
    padding-top: 5px;
    padding-bottom: 5px;
}

#chara_asset {
    height: 90vh;
    padding: 8px;
}

#asset {
    height: 50vh;
    padding: 8px; 
}

#enemy {
    height: 50vh;
    padding: 8px;
}

.comic {
    height: 50vh;
}

footer {
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email {
    height: 50px;
}

.socials {
    display: flex;
    justify-content: flex-end;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: var(--pumpkin);
}
  
.fa:hover {
    opacity: 0.7;
}

.fa:visited {
    color: var(--pumpkin);
}

@media screen and (max-width: 1080px) {
    #gallery a {
        width: 1000px;
    }
}